# os

#
# -- if this PyYAML line fails on Windows, try installing the (free) version of Visual Studio
#    to get the missing library...
PyYAML
pysocks
lxml
jira
openpyxl
requests
urllib3
git+http://github.com/paulha/jazz_dng_client.git
git+http://github.com/paulha/jira_client.git
git+http://github.com/paulha/utility_funcs.git
pandas
